@import url("https://fonts.googleapis.com/css?family=Alata");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Alata", sans-serif;
  font-size: 1.5rem;
  line-height: 1.6;
  background-color: #ffffff;
  color: black;
}

/*Navbar */
.navbar{
    background-color: black;
    color: whitesmoke;
    padding: 7px;
}